.loginform input {
  height: 40px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.loginform .ant-select-selection-placeholder {
  align-self: center !important;
  padding-left: 10px;
}

.loginform .ant-select-selection-item {
  align-self: center !important;
}

.loginform .ant-form-item {
  margin-bottom: 0 !important;
}

.ant-select-dropdown .rc-virtual-list-holder-inner {
  padding: 10px !important;
  row-gap: 10px;
}

.ant-select-dropdown .ant-select-item-option-content {
  padding: 10px !important;
}

.loginform .ant-select-selector {
  height: 40px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: left;
}

.loginform .ant-input-number {
  width: -webkit-fill-available;
}

.loginform .ant-picker {
  width: -webkit-fill-available;
}
.loginform span span.anticon {
  padding-right: 10px !important;
}

.loginform label {
  height: -webkit-fill-available !important;
}

.buttonForm .ant-col {
  margin: 0 auto;
}

.buttonForm button {
  width: 100% !important;
}

.center {
  width: 450px;
  margin: 0 auto;
  height: auto;
  align-self: center;
  background: white;
  padding: 20px !important;
  border-radius: 10px;
}

.center .ant-input-number {
  width: -webkit-fill-available;
}

.center .ant-col.ant-form-item-label label {
  min-width: 9em;
}

.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

.togglesignbutton {
  cursor: pointer;
}
