* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 !important;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  height: auto;
}

.content {
  display: flex;
  min-height: calc(100vh - 64px);
  padding: 20px !important;
  height: auto;
}

#root {
  width: 100%;
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal {
  width: 100%;
}

.ant-menu-overflow-item.ant-menu-item {
  width: 10vw;
  min-width: 10vw;
}

.containerContent {
  margin: 0 0 0 20px !important;
  padding: 20px 0 0 20px !important;
  background-color: white;
}
